<div class="col-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="item_code" placeholder="Item Code" value="{{this.itemCode}}" name="item_code">
  <label for="floatingInput">Item Code</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Quantity" value="{{this.sell_qnty}}" name="item_qnty">
  <label for="floatingInput">Quantity</label>
</div>
</div>


<!--
<div class="col-3">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.itemName}}" placeholder="Last Name" name="item_name">
  <label for="floatingInput">Item Name</label>
</div>
</div>

<div class="col-3">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Price" value="{{this.sell_Price}}" name="price">
  <label for="floatingInput">Item Price</label>
</div>
</div>
<div class="col-3">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Quantity" value="{{this.sell_qnty}}" name="item_qnty">
  <label for="floatingInput">Quantity</label>
</div>
</div>-->
