<form class = "row g-3 needs-validation" method="GET" action="/addItem" novalidate> 
{{> item-form}}

</form>
<table class="table table-bordered">
  <thead "thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Item type</th>
      <th scope="col class="text-end">Action</th>

    </tr>
  </thead>
  <tbody>

    {{#each rows}}

    <tr>
      <th scope="row">{{this.itemID}}</th>
      <td>{{this.itemName}}</td>
      <td>{{this.itemDescription}}</td>
      <td>{{this.sellPrice}}</td>
      <td>{{this.stockInhand}}</td>
      <td>{{this.itemType}}</td>
      <td class="text-start">
      <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>View</a>
      <a href="#" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Edit</a>
      <a href="/addItem/{{this.itemID}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i>Delete</a>
    </td>
    </tr>

    {{/each}}
  </tbody>
</table>